<%
const projects = require('fs')
  .readdirSync('./src/projects')
  .map(file => require('./projects/' + file))

projects.sort((a, b) => {
  if (a.order < b.order) return -1
  if (a.order > b.order) return 1
  return 0
})

// https://stackoverflow.com/questions/1267283/how-can-i-pad-a-value-with-leading-zeros#answer-1268377
function zeroPad (number, numZeros) {

  const an = Math.abs(number)
  const digitCount = 1 + Math.floor(Math.log(an) / Math.LN10)
  if (digitCount >= numZeros) {
    return number
  }
  const zeroString = Math.pow(10, numZeros - digitCount).toString ().substr (1)
  return number < 0 ? '-' + zeroString + an : zeroString + an
}

projects.forEach(project => {
  if (project.order === 0) {
    project.order = '00'
  } else {
    project.order = zeroPad(project.order, 2)
  }
})
%>

<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="apple-touch-icon" sizes="180x180" href="<%= webpack.publicPath %>apple-touch-icon.png?v=<%= process.env.VERSION %>">
    <link rel="icon" type="image/png" href="<%= webpack.publicPath %>favicon-32x32.png?v=<%= process.env.VERSION %>" sizes="32x32">
    <link rel="icon" type="image/png" href="<%= webpack.publicPath %>favicon-16x16.png?v=<%= process.env.VERSION %>" sizes="16x16">
    <link rel="manifest" href="<%= webpack.publicPath %>manifest.json?v=<%= process.env.VERSION %>">
    <link rel="mask-icon" href="<%= webpack.publicPath %>safari-pinned-tab.svg?v=<%= process.env.VERSION %>" color="#bf2626">
    <link rel="shortcut icon" href="<%= webpack.publicPath %>favicon.ico?v=<%= process.env.VERSION %>">
    <meta name="msapplication-TileColor" content="#b91d47">
    <meta name="msapplication-TileImage" content="<%= webpack.publicPath %>mstile-144x144.png?v=<%= process.env.VERSION %>">
    <meta name="msapplication-config" content="<%= webpack.publicPath %>browserconfig.xml?v=<%= process.env.VERSION %>">
    <meta name="theme-color" content="#fcfafa">

    <meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>">
    <meta property="og:description" content="<%= htmlWebpackPlugin.options.description %>">
    <meta property="og:type" content="website">

    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">

    <meta name="robots" content="nofollow, noodp, noydir">
    <meta name="googlebot" content="index,follow">
  </head>

  <body>
    <main role="main" class="main">
      <h1 class="title"><%= htmlWebpackPlugin.options.title %></h1>
      <p class="subtitle">Design + Code</p>
    </main>

    <% if (process.env.NODE_ENV === 'production') { %>
      <script async src="https://www.google-analytics.com/analytics.js"></script>
    <% } %>
  </body>
</html>
